In [11]:
#Packages

import pandas as pd 

import matplotlib.pyplot as plt

from mlxtend.preprocessing import TransactionEncoder

from mlxtend.frequent_patterns import apriori

In [12]:
df = pd.read_csv("Products visits.csv")
df = df[['User','ProductId']]
df

                                    User  ProductId
0   b1ec304c-3f05-4b73-bfba-edd959ab33e8         41
1   b1ec304c-3f05-4b73-bfba-edd959ab33e8         40
2   b1ec304c-3f05-4b73-bfba-edd959ab33e8         13
3   b1ec304c-3f05-4b73-bfba-edd959ab33e8         56
4   b1ec304c-3f05-4b73-bfba-edd959ab33e8         34
5   a19964a4-31b0-4b52-b26d-8d181434b19d         37
6   a19964a4-31b0-4b52-b26d-8d181434b19d         21
7   a19964a4-31b0-4b52-b26d-8d181434b19d         24
8   a19964a4-31b0-4b52-b26d-8d181434b19d         74
9   a19964a4-31b0-4b52-b26d-8d181434b19d         59
10  586f63ff-1868-49d2-85e2-cc9cc9826ea3         57
11  586f63ff-1868-49d2-85e2-cc9cc9826ea3         26
12  586f63ff-1868-49d2-85e2-cc9cc9826ea3         55
13  586f63ff-1868-49d2-85e2-cc9cc9826ea3         31
14  0aa33807-f5fd-4feb-b3cf-927941c30b5b         22
15  0aa33807-f5fd-4feb-b3cf-927941c30b5b         12
16  0aa33807-f5fd-4feb-b3cf-927941c30b5b         71
17  0aa33807-f5fd-4feb-b3cf-927941c30b5b         40
18  0aa33807-f5fd-4feb-b3cf-927941c30b5b         23

In [13]:
df = df.groupby('User')['ProductId'].apply(list).reset_index()
df.drop(['User'], axis=1, inplace=True) 


column_list = df['ProductId'].tolist()


from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_data = te.fit(column_list).transform(column_list)
df = pd.DataFrame(te_data,columns=te.columns_).astype(int)
df

   12  13  21  22  23  24  26  31  34  37  40  41  55  56  57  59  71  74
0   1   0   0   1   1   0   0   0   0   0   1   0   0   0   0   0   1   0
1   0   0   0   0   0   0   1   1   0   0   0   0   1   0   1   0   0   0
2   0   0   1   0   0   1   0   0   0   1   0   0   0   0   0   1   0   1
3   0   1   0   0   0   0   0   0   1   0   1   1   0   1   0   0   0   0

In [14]:
# Apriori
freq_items = apriori(df, min_support = 0.1, use_colnames = True, verbose = 1)
freq_items.sort_values("support", ascending = False).head(20)
freq_items.to_json('ArticlesSimilaires.json', orient='records')

Processing 24 combinations | Sampling itemset size 65

C:\Users\Administrator\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(