In [86]:
# Data Processing
import pandas as pd

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import  train_test_split

In [87]:
df = pd.read_csv("Products visits.csv")
df = df[['Region','City','anneeNaissance','Date','Category']]

df.head(10)

   Region    City  anneeNaissance      Date  Category
0  M'Sila  M'Sila            1998  5-8-2023         6
1  M'Sila  M'Sila            1998  5-8-2023         6
2  M'Sila  M'Sila            1998  5-8-2023         6
3  M'Sila  M'Sila            1998  5-8-2023         7
4  M'Sila  M'Sila            1998  5-8-2023         7
5  M'Sila  M'Sila            1997  5-8-2023         3
6  M'Sila  M'Sila            1997  5-8-2023         3
7  M'Sila  M'Sila            1997  5-8-2023         4
8  M'Sila  M'Sila            1997  5-8-2023         5
9  M'Sila  M'Sila            1997  5-8-2023         5

In [88]:
df = pd.get_dummies(df, columns=['Region', 'City'])
df['Date'] = pd.to_datetime(df['Date']).dt.month
df

    anneeNaissance  Date  Category  Region_M'Sila  City_M'Sila
0             1998     5         6              1            1
1             1998     5         6              1            1
2             1998     5         6              1            1
3             1998     5         7              1            1
4             1998     5         7              1            1
5             1997     5         3              1            1
6             1997     5         3              1            1
7             1997     5         4              1            1
8             1997     5         5              1            1
9             1997     5         5              1            1
10            2001     5         8              1            1
11            2001     5         8              1            1
12            2001     5         7              1            1
13            2001     5         7              1            1
14            1996     5        10              1            1
15            1996     5        10              1            1
16            1996     5         6              1            1
17            1996     5         6              1            1
18            1996     5         6              1            1

In [89]:
# Split the data into features (X) and target (y)
X = df.drop('Category', axis=1)
Y = df['Category']

# Split the data into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [90]:
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)

RandomForestClassifier()

In [91]:
Y_pred = rf.predict(X_test)

accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5